<!DOCTYPE html>
    <html lang="en">
        <head>

        </head>

        <body>
            <footer class="dismissable-footer bg-secondary text-dark fixed-bottom z-index-120 py-2
                             d-flex flex-column flex-md-row align-items-center justify-content-center dismissable-footer--show">
                             
                <div class="position-relative w-100">
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                        <div class="my-1 my-md-0 text-center"> Use <strong>Ledgy for Free with the Launch Plan</strong>
                            <br class="d-md-none" />or try the Growth Plan for 7 days
                        </div>

        <a target="_blank" rel="noopener noreferrer" href="https://app.ledgy.com" class="rounded border-none my-1 ml-md-4"
            title="Sign Up"><button type="button" class="btn btn-success">Sign up</button>
        </a>

    </div>

    <button type="button" title="Close" class="dismissable-footer--btn-close position-absolute 
                bg-transparent border-0 text-dark border border-secondary-hover btn btn-secondary">×
    </button>
  </div>
</footer>
</body>
</html>